if messages && messages.success && messages.success.length > 0
  each msg in messages.success
    .alert.alert-success= msg

if messages && messages.error && messages.error.length > 0
  each msg in messages.error
    .alert.alert-error= msg
